.app {
    overflow: hidden;
}

.header {
   height: 120px;
   background-image: linear-gradient(0, #FF6633, #F53D2D); 
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 34px;
}

.navbar-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-list__item {
    position: relative;
    padding: 0px 8px;
}

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user::after {
    content: "";
    width: 100px;
    height: 12px;
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0px;
}

.header__navbar-user:hover .navbar__user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.navbar__user-menu::before {
    content: "";
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -28px;
    right: 24px;
    cursor: pointer;
}

.navbar__user-menu {
    display: none;
    position: absolute;
    padding-left: 0;
    top: 100%;
    margin-top: 12px;
    width: 150px;
    right: 0;
    border-radius: 2px;
    z-index: 100;
    background-color: var(--white-color);
    box-shadow: 0 0 4px #666;
    animation: fadeIn linear 0.1s;
}

.navbar__user-menu-item {
    padding: 12px 12px;
}

.navbar__user-menu-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__user-menu-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.navbar__user-menu-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navbar__user-menu-item:hover {
    background-color: #fafafa;
    color: #00bfa5 !important;
}

.navbar__user-menu-item {
    cursor: pointer;
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color) !important;
}

.navbar-list__item a,
.navbar-item__link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-list__item:hover .navbar-list__item-link,
.navbar-item__link:hover,
.navbar-list__icon-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navbar-list__item--strong {
    font-weight: 400;
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.navbar-list__item--strong:hover {
    opacity: 0.7;
}

.navbar-list__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    height: 16px;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-list__icon-link {
    text-decoration: none;
}

.navbar-list__icon-link:nth-child(2) {
    margin-left: 8px;
}

.navbar-list__icon-link {
    color: var(--white-color);
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.6rem;
}

.list-item__label--no-pointer {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.list-item__label--no-pointer:hover {
    color: var(--white-color);
    cursor: text;
    opacity: 1 !important;
}

/* app download qr + link */

.wrapper-app-download {
    position: absolute;
    width: 186px;
    top: 100%;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.app-download {
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 10px;
}

.navbar-list__item--has-download-info:hover .wrapper-app-download {
    display: block;
}

.app-download__qr-code {
    width: 100%;
}

.app-download__app-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10px;
}

.app-download__download-link {
    display: inline-block;
    width: 40%;
    margin-top: 5px;
}

.app-download__download-link > img {
    width: 100%;
}

/* notificaton */

.wrapper-notification {
    position: absolute;
    top: 100%;
    display: block;
    right: 0px;
    width: 400px;
    visibility: hidden;
    transform-origin: calc(100% - 32px) top;
    /* animation: notification-grow ease-in .2s; */
    transition: all .2s;
    transform: scale(0);
    opacity: 0;
    will-change: opacity, transform;
    z-index: 10;
}

.navbar-item__link--has-notification:hover .wrapper-notification {
   visibility: visible;  
   transform: scale(1);
   opacity: 1;
}

.notification {
    margin-top: 10px;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%)
}

.notification::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 8px;
    cursor: pointer;
}

.notification__header {
    height: 40px;
    font-size: 1.4rem;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.26);
    padding: 0px 8px;
    user-select: none;
    border-bottom: 1px solid #f8f8f8;
}

.notification__list {
    padding: 0px;
}

.notification__list li{
    padding: 8px;
}

.notification__list li:hover {
    background-color: #f8f8f8;
}


.notification__item-list {
    display: flex;
    cursor: pointer;
}

.notification__item-img {
    width: 40px;
    margin-right: 5px;
}

.notification__item-img img{
    width: 100%;
}


.notification__item-info {
    margin-right: 10px;
}

.notification__info-header {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.notification__info-desc {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 5px;
}

.notification__see-more a {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    text-align: center;
    padding: 12px 0px;
}

/* modal */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 500px;
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;

    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1;
}

.modal__form-container {
    padding: 0 32px;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    margin-top: 12px;
}

.modal__title {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.modal_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.modal__form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.modal__form-input:focus {
    border-color: var(--primary-color);
}

.modal__policy {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    padding: 0px 8px;
}

.modal__policy--has-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.modal__form-controls {
    margin-top: 80px;    
    display: flex;
    justify-content: flex-end;
}

.btn.btn-back {
    margin-right: 8px;
}

.btn.btn-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.modal__social-login {
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.modal__social-icon {
    font-size: 1.8rem;
    margin: 0px 8px;
}

.modal__social-title {
    margin: 0px 32px;
    text-decoration: none;
    color: var(--white-color);
}

.btn.btn-social-fb {
    display: flex;
    justify-content: space-between;
    height: 32px;
    font-size: 1.2rem;
    background-color: #3A5A98;
    color: var(--white-color);
}

.btn.btn-social-gg {
    height: 32px;
    color: var(--text-color);
    font-size: 1.2rem;
    background-color: var(--white-color);
}

.btn.btn-social-gg a {
    color: var(--text-color);
}

/* login form  */

.modal__form-help {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.modal__form-help-link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.modal__form-separate {
    display: block;
    height: 22px;
    margin: -2px 16px 0px;
    border-left: 1px solid #EAEAEA;
}

.modal__form-help-fogot {
    color: var(--primary-color);
}

/* header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0px 8px;
}

.header__mobile-search {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: #fff;

}



.header__logo-link {
    display: flex;
    align-items: center;
    color: transparent;
    text-decoration: none;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    cursor: pointer;
    fill: #fff;
}

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart-icon {
    margin: 8px 8px;
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header__cart-wrap {
    width: 50px;
    margin: 0px auto;    
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap::after {
    content: "";
    width: 120px;
    height: 12px;
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 30px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    display: none;
    position: absolute;
    background-color: #FDFDFD;
    top: calc(100%);
    margin-top: 8px;
    right: 32px;
    border-radius: 2px;
    width: 400px;
    min-height: 160px;
    max-height: 56vh;
    box-shadow: 0 0 4px #666;
    align-items: center;
    justify-content: center;
    animation: fadeIn linear 0.1s;
    z-index: 10;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    top: -36px;
    cursor: pointer;
    right: 16px;
    z-index: 0;
    border: 24px solid var(--white-color);
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    background: center / contain url(/assets/img/no_cart.png);
    width: 120px;
    height: 120px;
    position: relative;
}

.header__cart-list--no-cart h4 {
    width: 120px;
    position: absolute;
    font-size: 1.4rem;
    font-weight: 500;
    top: 100%;
    left: 0;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    right: 46px;
    padding: 2px 6px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--primary-color);
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #F53D2D;
}

.header__cart-list-item {
    padding: 0px;
    max-height: 55vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    margin-left: 12px;
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}

.header__cart-list--has-item h4 {
    text-align: left;
    margin: 8px 0px 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    width: 200px;
    margin: 12px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 400;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0px 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-remove {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 12px;
}

.header__cart-view-cart:hover {
    opacity: 0.9;
}

/* search */

.header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:4px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0px 8px;
    border: none;
    font-size: 1.4rem;
    border-radius: 2px;
    color: var(--text-color);
}

.header__search-btn {
    height: 34px;
    min-width: 60px;
    max-width: 190px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}

.header__search-search-icon {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 100;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

/* search history */

.header__search-history {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 4px #666;
    z-index: 10;
}

.header__search-history-heading {
    margin: 6px 0px;
    padding: 0px 8px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0px;
}

.hearder__search-history-item {
    height: 38px;
    padding: 0px 8px;
}

.hearder__search-history-item a {
    display: block;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    text-align: left;
    line-height: 38px;
    font-weight: 500;
}

.hearder__search-history-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.hearder__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    display: none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header__sort-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}


/* app container */
.app-content {
    padding-top: 24px;
}

.app__containter {
    background-color: #F5F5F5;
}

.category {
    background-color: var(--white-color);
}

.category__heading {
    margin-top: 0;
    font-size: 1.7rem;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__list {
    padding-left: 0;
    padding-bottom: 8px;
    margin-left: 9px;
}
.category__item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 8px;    
    text-decoration: none;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
    font-weight: 500;
}

/* mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 12px;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*2);
    font-weight: 300;
    text-align: center;
    display: block;
    width: 108px;
    color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 6px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88CD81;
}


/* Sort + filter */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-curent {
    color: var(--primary-color);
}

.home-filter-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);    
}

.home-filter__page-btn {
    flex: 1;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-btn-disable {
    background-color: #F9f9f9;
    cursor: default;
}

.home-filter__page-btn { 
    text-decoration: none;
    font-size: 1.4rem;
    color: #555;
}

/* products */
.products {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {    
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 10px 6px 10px;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow-y: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    text-decoration: line-through;
    color: #666;
    margin-right: 6px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.home-product-item__like {
    font-size: 1.3rem;
    margin: 6px 0px 0px;
}

i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__rating {
    font-size: 1rem;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__start--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    color: var(--text-color);
    margin-left: 8px;
    font-size: 1.2rem;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0px 10px;
    padding-bottom: 10px;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-product-item__favorite {
    position: absolute;
    background-color: var(--primary-color);
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 0px 4px;
    line-height: 1.6rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite:before {
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
    position: absolute;
    top: 100%;
    left: 0;
}

.home-product-item__favorite span {    
    color: var(--white-color);
}

.home-product-item__favorite i {
    font-size: 1rem;
    margin-left: 2px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.95);
    text-align: center;
    line-height: 1.6rem;
    padding-top: 1px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::before {
    content: "";
    color: rgba(255, 216, 64, 0.95);
    border-width: 0px 20px 4px;
    border-color: transparent currentColor transparent currentColor;
    border-style: solid;
    position: absolute;
    top: 100%;
    left: 0;
}

.home-product-item__sell-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
}

.home-product-item__sell-off-lable {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.products__pagination {
    margin-top: 38px;
    margin-bottom: 32px;
}

/* footer */

.footer {
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
}

.footer-item__link {
    display: flex;
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0px;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link > i {
    font-size: 1.8rem;
    margin-right: 4px;
    margin: 0 4px 4px 0px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
    margin-right: 12px;
}

.footer__download-app-link {
    display: block;
    margin-bottom: 8px;
}

.footer__download-app-icon {
    display: block;
    height: 20px;
}

.footer-bottom {
    background-color: #F5F5F5;
    margin-top: 36px;
}

.footer-bottom__text {
    margin: 0;
    text-align: center;
    padding: 24px 0;
    font-size: 1.4rem;
    color: #737373;
    font-weight: 500;
}